#home {
    min-height: 100vh;
    background: #6e788c;
}

#projects {
    min-height: 325vh;
    background: linear-gradient(to bottom, #6e788c, #705b77);
}

#support {
    height: 350vh;
    background: linear-gradient(to top, #b1a096, #705b77);
}

#nalaten {
    min-height: 275vh;
    background: linear-gradient(to bottom, #b1a096, #705b77);      
}

#news {
    min-height: 200vh;
    background: linear-gradient(to bottom, #705b77, #6e788c);
}

#about {
    min-height: 750vh;
    background: linear-gradient(to bottom, #6e788c, #ada49b);
}

#contact {
    min-height: 200vh;
    background: linear-gradient(to bottom, #ada49b, #da6f64);      
}

.c-header {
    z-index: 1;
    color: white;
}

.c-header--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.c-sub-nav-header {
    color: white;
    opacity: 0.4;
    text-transform: lowercase;
}

.c-date {
    color: white;
    opacity: 0.4;
}

.c-sub-nav__item {
    text-transform: lowercase;
}

.c-sub-nav__link {
    display: inline;
    color: white;
    text-decoration: none;
    font-size: 3.6vh;
    line-height: 3.96vh;
    font-weight: 700;
    background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
    background-size: 0% 3px, 0% 3px;
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 87%, 0% 50%;
}

.c-sub-nav__link.is-active {
    transition: background-size 500ms;
    background-size: 100% 3px, 0% 3px;                      
    padding-bottom: 1%;
}

.c-sub-nav__link:hover {
    text-decoration: none;
    transition: background-size 200ms;
    background-size: 100% 3px, 0% 3px;          
    padding-bottom: 1%;
}

.c-section {
    position: relative;
}

.c-story {
    left: 0vw;
    color: white;
}

.c-story p {
    font-size: 3.6vh;
    font-weight: 700;
    line-height: 3.96vh;
}

.js-text--strong {
    background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
    background-size: 0% 3px, 0% 3px;
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 87%, 0% 50%;
    padding-bottom: 1%;
}

.c-dim {
    opacity: 1;
}

.c-dim--anim {
    transition: opacity 500ms;
}

.is-dimmed {
    opacity: 0.25;
}

.c-side-content {
    left: 5vw;
    top: 20vh;
    width: 40vw;
    position: absolute;
}

.c-main-content {
    left: 45vw;
    top: 20vh;
    width: 40vw;
    position: absolute;
    color: white;
}

.c-contact-form {
    width: 100%;
}

.c-contact-form__item {
    padding-bottom: 24px;
}

.c-label {
    display: block;
    font-weight: 700;
    padding-bottom: 8px;
}

.c-text-field {
    width: 95%;
    padding: 8px;
    border: 0;
    color: white;
    font-weight: 700;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: Helvetica, sans-serif;
}

.c-text-field--required {
    background-color: rgba(255, 255, 255, 0.4);
}

.c-text-field.is-dirty.is-valid {
    background-color: rgba(255, 255, 255, 0.2);            
}

.c-text-field--anim {
    transition: background-color, 300ms;
}

/* overrides */
    
.c-quote {
    color: #a4b4d3;
}

.c-logo {
    right: 2.5vw; 
    top: 40vh; 
    position: absolute; 
    width: 20vw;
}

.c-logo img {
    width: 100%;
    height: 100%;
    image-fit: contain;
}

.c-main-content {
    right: 5vw;
    width: 50vw;
}

.c-article {
    margin-bottom: 56px;
}

.c-article__header {
    text-transform: lowercase;
}

.c-project-nav__link {
    display: inline-block;
    border: 1px solid white;
    padding: 16px;
    font-size: 16px;
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.c-project-nav__link:hover {
    background-color: white;
    color: black;
}

#projects .c-popup__media img {
    mix-blend-mode: lighten;
}            

#projects .c-popup__media iframe {
    mix-blend-mode: lighten;
}             

.c-scroll-icon {
    top: 70vh;
    left: 25vw;
}           