.c-popup__story {
    margin-top: 48px;
}

.c-popup__story h3 {
    font-size: 3.6vh;
    line-height: 3.96vh;
    margin-bottom: 30px;
}

.c-popup__story h4 {
    font-size: 20px;
    margin-bottom: 6px;
}

.c-popup__story p {
    line-height: 2.1;
    font-size: 16px;
    margin-bottom: 30px;
}