
.c-preloader {
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 1.0;
    transition: opacity 500ms;
}

.c-preloader__spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 50px;
    transition: all .2s ease;
    transform: translate(-50%, -50%) rotate(360deg);
    animation: spin 2s linear infinite;
}

.c-preloader__path {
    stroke-dasharray: 1,500;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #6e788c;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}

.c-preloader.is-faded {
    opacity: 0.0;
}

.c-preloader.is-hidden {
    display: none;
}