.c-project-nav__link {
  display: inline-block;
  border: 1px solid white;
  padding: 16px;
  font-size: 16px;
  color: white;
  background-color: transparent;
  text-decoration: none; }

.c-project-nav__link:hover {
  background-color: white;
  color: black; }

.c-scroll-icon {
  top: 90vh;
  left: 45vw; }
