* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
}

a {
    color: white
}

.c-video-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.c-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-story {
    position: absolute;
    width: 40vw;
    left: 10vw;
    pointer-events: none;
}

.c-story p {
    font-size: 3.6vh;
    line-height: 3.96vh;
    margin: 0 0 3vh 0;
    font-weight: 700;
}

.c-pin {
    z-index: 2;
}

.js-text--strong {
    background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
    background-size: 0% 3px, 0% 3px;
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 87%, 0% 50%;
    padding-bottom: 1%;
}

.js-strike {
    background: linear-gradient(#fff,#fff), linear-gradient(#fff,#fff);
    background-size: 0% 3px, 0% 3px;
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 87%, 0% 50%;
    padding-bottom:1%;
}

.c-title-wrapper {
    position: relative; 
    height: 100vh
}

.c-title {
    position: relative;
    top: 25vh;
    left: 10vw;
    width: 60vw;
}

.c-title__h1 {
    font-size: 8.1vh;
    line-height: 7.128vh;
    font-weight: 700;
}

.c-title__h2 {
    font-size: 3.6vh;
    line-height: 3.96vh;
    font-weight: 700;
}

.c-main {
    position: relative;
}

.c-quote {
    z-index: 1;
    position: absolute;
    text-align: right;
    font-size: 6.8vh;
    line-height: 1vh;
    letter-spacing: 0.3px;
}

.c-quote__txt {
    display: block;
    font-weight: bold;
}

.c-popup {
    position: absolute;
    transition: left 800ms, right 800ms, width 800ms, box-shadow 800ms;
}

.c-popup.is-maximized {
    z-index: 10;
}

.c-popup.is-maximized .c-popup__media {
    mix-blend-mode: normal;
}

.c-popup__media {
    position: relative;
    transition: box-shadow 1s;
    /* mix-blend-mode: darken; */
}

.c-popup__overlay {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}

.c-popup__overlay.is-hidden {
    display: none;
}

.c-popup.is-maximized .c-popup__media {
    box-shadow: 60px 80px 150px #1f1f1f;            
}

.c-popup__story {
    margin-top: 16px;
    position: relative;
    opacity: 0.0;
    transition: opacity 200ms;
}

.c-popup__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 50vh;
    opacity: 0.0;
    transition: opacity 300ms, font-size 300ms;
}

.c-popup__icon.is-visible {
    opacity: 1.0;
    font-size: 8vh;
}

.c-popup__close {
    float: right;
    font-size: 2vh;
    cursor: pointer;
}

.c-popup.is-maximized .c-popup__story {
    opacity: 1.0;
}

.c-blind {
    opacity: 0.0;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: opacity 500ms;
    z-index: 9;
}

.c-blind.is-faded {
    opacity: 0.5;
}

.c-menu {
    padding-left: 10vw;
    padding-right :10vw;
    padding-top: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 80vw;
    z-index: 2;
}

.c-menu__logo {
    float: left;
    font-size: 3.6vh;
}

.c-menu__close {
    float: right;
    padding-left: 5vw;
    font-size: 1.8vh;
}

.c-menu__close a {
    text-decoration: none;
}

.c-preloader {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: black;
    background-color: azure;
    opacity: 1.0;
    transition: opacity 200ms;
}

.c-menu__logo a {
    text-decoration: none;
}

.c-menu__close a {
    text-decoration: none;
}

.c-menu__overview a {
    text-decoration: none;
}

.c-main-nav ul, .c-sub-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float:right; 
    font-size: 1.8vh
}

.c-main-nav__item {
    float: left;
    padding-left: 2vw;
}

.c-main-nav__link {
    display: block;
    color: white;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
    background-size: 0% 3px, 0% 3px;
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 87%, 0% 50%;
    padding-bottom: 6%;
}

.c-main-nav__link:hover {
    text-decoration: none;
}

.c-main-nav__link.is-active {
    transition: background-size 500ms;
    background-size: 100% 3px, 0% 3px;
}

.c-scroll-icon {
    position: absolute;
    top: 90vh;
    left: 45vw;
    font-size: 8vh;
}