.c-pin {
    z-index: 2;
}

.c-main {
    position: relative;
}

.c-main-nav ul, .c-sub-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float:right; 
    font-size: 1.8vh
}

.c-scroll-icon {
    top: 90vh;
    left: 45vw;
}