.c-quote {
    z-index: 1;
    position: absolute;
    text-align: right;
    font-size: 6.8vh;
    line-height: 1vh;
    letter-spacing: 0.3px;
    text-transform: lowercase;
}

.c-quote__txt {
    display: block;
    font-weight: bold;
}