.c-story {
    position: absolute;
    width: 40vw;
    left: 5vw;
    pointer-events: none;
}

.c-story p {
    font-size: 3.6vh;
    line-height: 3.96vh;
    margin: 0 0 3vh 0;
    font-weight: 700;
}

.js-text--strong {
    background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
    background-size: 0% 3px, 0% 3px;
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 87%, 0% 50%;
    padding-bottom: 1%;
}

.js-strike {
    background: linear-gradient(#fff,#fff), linear-gradient(#fff,#fff);
    background-size: 0% 3px, 0% 3px;
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 87%, 0% 50%;
    padding-bottom:1%;
}

