.u-responsive {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.u-ar:before {
    display: block;
    content: "";
    width: 100%;
}

.u-ar__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.u-ar--4\/3:before {
    padding-top: 75%;   
}

.u-ar--16\/9:before {
    padding-top: 56.25%;  
}