.c-fancybox{
    &--popup{
        display: none;
        overflow: hidden;
        // padding-top: 50vh;
        img{
            margin: 0 70px 40px;
            box-shadow: 40px 60px 60px transparentize(colors(black), 0.5);
        }
    }

    &--content{
        width: 460px;
        margin: 0 70px;
    }

    &__title{
        position: relative;
        padding-right: $base-spacing-unit;
    }
    &--close{
        position: absolute;
        right: 0;
        top: 0;
        font-size: $inuit-heading-size-3;
        cursor: pointer;
    }
}
.fancybox {
    &-skin {
    	background: transparent;
    	color: colors(white);
    }

    &-opened &-skin {
    	box-shadow: none;
    }

    // &-outer,
    // &-inner{
    //     padding: 70px;
    // }

    &-overlay{
        background-color: transparentize(colors(gray, x-dark), 0.3);
    }

    // &-overlay{
    //     background: transparentize(colors(gray, x-dark), 0.3);
    // }

    // &fancybox-inner{
    //     overflow: visible;
    // }
}
