.c-quote{
    text-align: right;
    position: absolute;
    right: 8.5vw;
    z-index: 3;
    letter-spacing: 0.3px;
    font-weight: $font-weight--bold;
    color: colors(white);

    span{
        display: block;
        position: relative;
        text-align: right;
        line-height: 0.8em;
    }

    &--red{
        color: colors(red);
    }

    &--purple{
        color: colors(purple);
    }

    &--pink {
        color: #e3b0a8;
    }

    &--steel {
        color: #a4b4d3;
    }
}
