.js-t__txt--strong {
    background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
    background-size: 0% 3px, 0% 3px;
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 87%, 0% 50%;
    padding-bottom: 1%;
}

.js-t__txt--strike,
.js-t-strike {
    background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
    background-size: 0% 3px, 0% 3px;
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 87%, 0% 50%;
    padding-bottom: 1%;
}

.js-h {
    text-align: right;
    position: absolute;
    right: 8.5vw;
    font-size: 6.8vh;
    line-height: 1vh;
    letter-spacing: 0.3px;

    &__txt {
        display: block;
        font-weight: bold;
    }
}
