$animation-speed-slower: 1s;
$animation-speed-slow: .650s;
$animation-speed-medium: .500s;
$animation-speed-normal: .250s;
$animation-speed-fast: .150s;

$animation-speed-spinner: 2s;


$swift-ease-out-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1) !default;
$swift-ease-out: all $animation-speed-normal $swift-ease-out-timing-function !default;

$swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2) !default;
$swift-ease-in: all $animation-speed-normal $swift-ease-in-timing-function !default;

$swift-ease-in-out-timing-function: cubic-bezier(0.35, 0, 0.25, 1) !default;
$swift-ease-in-out: all $animation-speed-medium $swift-ease-in-out-timing-function !default;  