/**
 * Fonts
 * Also see _inuit settings file for font settings
 */

$fa-font-path:      "../../bower_components/components-font-awesome/fonts/";

$base-face:         Helvetica, sans-serif;
$brand-face:        Helvetica, sans-serif;

$font-weight--normal: 300;
$font-weight--medium: 400;
$font-weight--bold: 700;
$font-weight--x-bold: 900;
