/**
* General Typography
*/

body {
    font-family: $base-face;
}


/**
* Headings
*/
.alpha, %alpha,
h1 {
    font-size: $inuit-heading-size-1;
    line-height: $inuit-heading-line-1;
    margin: 0 0 $base-spacing-unit 0;

    @include media-query(palm) {
        font-size: ($inuit-heading-size-1 / 1.5);
        line-height: ($inuit-heading-line-1 / 1.5);
    }
}

.beta, %beta,
h2 {
    font-size: $inuit-heading-size-2;
    line-height: $inuit-heading-line-2;
    margin: 0 0 $base-spacing-unit 0;

    @include media-query(palm) {
        font-size: ($inuit-heading-size-2 / 1.5);
        line-height: ($inuit-heading-line-2 / 1.5);
    }
}

.gamma, %gamma,
h3 {
    font-size: $inuit-heading-size-3;
    line-height: $inuit-heading-line-3 * 1.5;
    margin: 0 0 $base-spacing-unit 0;
}

.delta, %delta,
h4 {
    font-size: $inuit-heading-size-4;
    line-height: $inuit-heading-line-4 * 1.5;
    margin: 0 0 0 0;
}

.epsilon, %epsilon,
h5 {
    font-size: $inuit-heading-size-5;
    line-height: $inuit-heading-line-5 * 1.5;
    margin: 0 0 0 0;
}

.zeta, %zeta,
h6 {
    font-size: $inuit-heading-size-6;
    line-height: $inuit-heading-line-6 * 1.5;
    margin: 0 0 0 0;
}


h1, h2, h3, h4, h5, h6 {
    font-family: $brand-face;

    .u-bg-color--grey-dark & {
        color: colors(white);
    }
}


h1, h2, h3 {
     font-weight: 600;
}


h4, h5, h6 {
    font-weight: 300;
}


.small,
small {
    display: inline-block;
    @include inuit-font-size($inuit-heading-size-6, 1.45);
}


p {
    @include inuit-font-size($inuit-base-font-size, 1.67);

    .u-bg-color--grey-dark & {
        color: colors(white);
    }
}


.text-wrap {
    h2, h3 {
        font-weight: $font-weight--medium;
    }
}
